@model  IEnumerable<CemPattern.Models.edefter>
@{
    ViewBag.Title = "Index";
}
@using GridMvc.Html

@Html.Grid(Model).Columns(columns =>
           {
               columns.Add(foo => foo.TARİH).Titled("Hesap Adı").SetWidth(110);
               columns.Add(foo => foo.MADDE_NO).Sortable(true);
           }).WithPaging(20)

<hr />
@*<table id="test">
    <thead>
        <tr>
            <th>Tarih</th>
            <th>Madde No</th>
        </tr>
          </thead>
    <tbody>

      @if (Model != null)
      {
          foreach (var item in Model)
          {
            <tr>
                <td>@item.TARİH</td>
                <td>@item.MADDE_NO</td>
            </tr>
          }
      }
    </tbody>
</table>*@